<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>P2P Messaging App</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/78f0cb45-8c12-4c4b-9473-fb4bc33586a2%2Fcamera-2766307_1280.png?1555540005633" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script></script>
    <!-- import the webpage's client-side javascript file -->
  </head>
  <body>
   <div class="box">
     <div class="tL">
       <i class="fa fa-camera-retro"></i> <i class="fa fa-microphone"></i>
     </div>     <div class="bR">
       <i class="fa fa-camera-retro"></i> <i class="fa fa-microphone"></i>
     </div>
     <div class="box2">
       <p class="icon">
          <i class="fa fa-exclamation-circle"></i> ERROR: In order to access this website, you must enable your media devices (i.e. camera and microphone)   
       </p>
       <p class="icon2">
          <a href="/"><i class="fa fa-refresh"></i> Try Again</a> 
          <a href="https://google.com/"><i class="fa fa-external-link"></i> Leave Page</a>
       </p>
     </div>
   </div>
    
  </body>
</html>
